<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvj.utilsdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".constraint.ConstraintLayoutActivity" />
        <activity android:name=".dialog.AlertDialogActivity" />
        <activity android:name=".view.anim.AnimationXmlActivity" />
        <activity android:name=".view.anim.AnimationValueAnimatorActivity" />
        <activity android:name=".view.anim.AnimationActivity" />
        <activity android:name=".view.point.CustomPointViewActivity" />
        <activity android:name=".view.anim.AnimationObjectActivity" />
        <activity android:name=".view.behavior.DragViewActivity" />
        <activity android:name=".view.share.ShareElementActivity" />
        <activity android:name=".fragment.FragmentDemoActivity" />
        <activity android:name=".motionLayout.MotionLayoutActivity" />
        <activity android:name=".motionLayout.MotionVpActivity" />
        <activity android:name=".motionLayout.MotionLoginActivity" />
        <activity android:name=".textspan.RichTextActivity" />
        <activity android:name=".retrofit.ui.HomeArticleActivity" />
        <activity
            android:name=".pad.TabletPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".audio.MusicActivity" />
        <activity android:name=".audio.MusicActivity2" />
        <activity android:name=".retrofit.login.LoginActivity" />
        <activity android:name=".vp.VpActivity" />
        <activity
            android:name=".playview.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <service
            android:name=".audio.MyService"
            android:description="@string/app_service"
            android:exported="false" />
    </application>

</manifest>